{% extends "base.html" %}

{% block template %}

<h1 id="details">Details:</h1>
<div class="container-lg">
    <div class="row" id>
        <div class="col-6" id="details-info">
            <p>Full name:</p>
            <p>Age:</p>
            <p>Nationality:</p>
            <p>Languages:</p>
            <p>Address:</p>
        </div>
        <div class="col-6" id="details-info-two">
            {% for detail in details %}
            <p>{{ detail.full_name }}</p>
            <p>{{ detail.age }}</p>
            <p>{{ detail.nationality }}</p>
            <p>{{ detail.languages }}</p>
            <p>{{ detail.address }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-lg">
    <div class="row">
        <div class="col">
            <h1 id="skills">Skills:</h1>
            <div id="skills-info">
                <p>Lorem</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}