{% extends "base.html" %}

{% block template %}

<div class="container-lg">
    <div class="row">
        <div class="col">
            <form method="POST" class="edit" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Edit my projects.</h1>
                {{ edit_projects_form }}
                <div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}