{% extends "base.html" %}
{% load static %}

{% block template%}
<div class="container-lg">
    <div class="row">
        <div class="col">
            <div id="welcome">
                <p id="welcome-txt">Welcome to my Portfolio website!</p>
                <img src="{% static 'images/pexels-cottonbro-studio-5483077.jpg' %}" alt="laptop">
                <p id="welcome-txt-two">I'm fullstack developer looking for opportunities to grow. You will find all
                    the information about me in About page and Projects in Project section.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}