{% extends "base.html" %}
{% load static %}
{% block template %}

<h1 id="projects">My Projects:</h1>
<div class="container-lg mb-5">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for project in my_projects %}
                <div class="col-12 col-md-4 shadow p-3 mb-5 bg-body rounded">
                    <div class="project-description">
                        {% if "placeholder" in project.project_image.url %}
                        <img src="{% static 'images/placeholder.png' %}"
                            alt="placeholder" width="50%">
                        {% else %}
                        <img src="{{ project.project_image.url }}" alt="test" width="250">
                        {% endif %}
                        <div class="mt-2">{{ project.title }}</div>
                        <div class="mt-2">{{ project.project_description }}</div>
                        <a href="{{ project.project_link }}" target="_blank" class="btn btn-two btn-primary">Link</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}