@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --white: #fff;
    --black: #000;
    --blue: #008cff;
    --green: #00c00a;
    --grey: #333;
    --light-grey: #868686;
    --red: #ff0000;

    --bar-width: 4.5rem;
    --bar-height: 0.8rem;
    --hamburger-gap: 0.6rem;
    --hamburger-margin: 0.8rem;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    /* background-color: var(--white);
    color: var(--black); */
    font-family: 'PT-serif', sans-serif;
    font-size: 2rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */

#bnr-container {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    filter: blur(3px);
}

#bg-color {
    background-color: var(--black);
    filter: blur(1px);
}

#welcome > img {
    display: flex;
    align-items: center;
    margin: 3rem auto;
    max-width: 80%;
    max-height: 80%;
}

#welcome-txt {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 10rem;
}

#welcome-txt-two {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 3rem;
}

/* Sidebar/Hamburger */

*::after,
*::before {
    box-sizing: border-box;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 99999;
    cursor: pointer;
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

.hamburger-menu:has(input:checked) {
    --grey: var(--white);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--white);
    box-shadow: 0 0 0 1px var(--grey);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--grey);
    border-radius: 99rem;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
     rotate var(--animation-timing), translate var(--animation-timing), 
     background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.8rem 1.6rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1.6rem);
    background-color: var(--grey);
    color: var(--white);
    max-width: 20rem;
    min-height: 100vh;
    position: absolute;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
    position: absolute;
    z-index: 5;
}

/* Buttons */

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

#links > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0 auto;
    width: 12rem;
    height: 5rem;
    color: var(--grey);
    font-weight: 700;
    background-color: var(--white);
    text-decoration: none;
    border-radius: 2rem;
    border-color: var(--black);
    border: 2px solid var(--blue);
}

#links > a:hover {
    margin: 3rem auto 0 auto;
    width: 12rem;
    height: 5rem;
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    border-radius: 2rem;
    border-width: 2px;
    transition: 0.2s ease-in-out;
}

#link-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

#link-login > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0 auto;
    width: 12rem;
    height: 5rem;
    color: var(--grey);
    font-weight: 700;
    background-color: var(--white);
    text-decoration: none;
    border-radius: 2rem;
    border-color: var(--black);
    border: 2px solid var(--blue);
}

#link-login > a:hover {
    margin: 3rem auto 0 auto;
    width: 12rem;
    height: 5rem;
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    border-radius: 2rem;
    border-width: 2px;
    transition: 0.2s ease-in-out;
}

/* Footer */

#footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: var(--white);
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0 auto;
    width: 9rem;
    height: 3rem;
    color: var(--grey);
    font-weight: 700;
    background-color: var(--white);
    text-decoration: none;
    border-radius: 2rem;
    border-color: var(--black);
    border: 2px solid var(--blue);
    font-size: 2rem;
}

#footer-logo > a:hover{ 
    margin: 3rem auto 0 auto;
    width: 9rem;
    height: 3rem;
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    border-radius: 2rem;
    border-width: 2px;
    transition: 0.2s ease-in-out;
}

/* About me */

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

#details-info {
    padding-right: 2rem;
}

#details-info > p {
    display: flex;
    justify-content: flex-end;
}

#details-info-two > p {
    display: flex;
    justify-content: flex-start;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10rem 5rem 0 5rem;
}

#skills-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}

/* Projects page */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

#project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

#project-description > li {
    list-style-type: none;
}

ul#project-description {
    padding-left: 0;  /* overwritting bootstrap scss */ 
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Login panel and log out */

#login-text,
#login-panel,
#login-panel > label,
#login-panel > input,
#btn-login  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem auto auto auto;
    width: 30%;
}

#login-panel > input,
#id_project_description,    /* front panel project description */
#id_project_link,           /* front panel project link */
#id_title,                  /* front panel title */
#id_skill,                  /* front panel skills */
#id_full_name,              /* front panel full name */
#id_age,                    /* front panel age */
#id_nationality,            /* front panel nationality */
#id_languages,              /* front panel languages */
#id_address,                /* front panel address */
#id_login,                  /* allauth login */
#id_password {              /* allauth password */
    border:2px solid var(--light-grey);
    padding-left: 1rem;
    margin-left: 1rem;
}

input#id_password {
    margin-left: 1.45rem;
}

#login-label {
    margin-top: 5rem;
}

.btn-primary {
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
    width: 10rem;
}

.btn-two {
    font-size: 1.75rem;
    padding: 0;
    height: 4rem;
    border-radius: 2rem;
}

.logout-text-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.logout-text-two,
#logout-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Custom front end panel */

#input-details td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

#skills-info-panel {
    display: flex;
    justify-content: flex-start;
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

#skills-info-panel p {
    margin-top: 1rem;
    padding: 1rem 2rem 0 0;

}


#id_project_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-form,
#project-padding {
    padding-top: 2rem;
}

#project-preview > #text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#border-project {
    border-left: 2px var(--grey) dotted;
    padding-left: 3rem;
}

.btn-padding {
    padding-left: 1rem;
}

.btn-skills {
    padding-top: 1rem;
    text-decoration: none;
}

.btn-skills > button {
    margin-top: 1rem;
    width:7rem;
    font-size: 1.5rem;
}

.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit button {
    margin-top: 1rem;
    width:7rem;
    font-size: 1.5rem;
}

#logout-button {
    margin: 0.6rem 0 0 2px;
}

#logout-button > a {
    text-decoration: none;
    color: var(--red);
}

#redirection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

/* bootstrap */

#myTab {
    padding: 1rem 0 0 7.5rem;
}

.nav-tabs {
    border-bottom: 1px solid var(--black);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--grey);
    background-color: var(--white);
    border-color: var(--black) var(--black) var(--white);
}

.details-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media Queries */

@media (min-width:  320px) and (max-width: 768px) {
    #footer-logo {
        display: none;
    }

    #footer-logo-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        background-color: var(--white);
    }

    .footer-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto 0 auto;
        color: var(--grey);
        font-weight: 700;
        text-decoration: none;
        height: auto;
        width: 100%;
        padding-bottom: 3px;
    }
}


@media (min-width: 768px) {
    .footer-mobile {
        display: none;
    }
}