{% extends "base.html" %}

{% block template%}

<h1 id="details">Details:</h1>
<div class="container">
    <div class="row" id>
        <div class="col-6" id="details-info">
            <p>Full name:</p>
            <p>Age:</p>
            <p>Nationality:</p>
            <p>Languages:</p>
            <p>Address:</p>
        </div>
        <div class="col-6" id="details-info-two">
            <p>lorum</p>
            <p>lorum</p>
            <p>lorum</p>
            <p>lorum</p>
            <p>lorum</p>
        </div>
    </div>
</div>
<h1 id="skills">Skills:</h1>
<div id="skills-info">
    <p>Lorem</p>
</div>

{% endblock %}