{% load static %}

<footer>
    <!-- Tablets and large screens -->
    <div id="footer-logo">
        <a href="https://github.com/aboczek" target="_blank" class="footer-button" aria-label="github link"><i class="fa-brands fa-github" title="My GitHub profile"></i></a>
        <a href="https://www.linkedin.com/in/aboczek/" target="_blank" class="footer-button" aria-label="linkedin link"><i class="fa-brands fa-linkedin" title="My LinkedIn profile"></i></a>
        <a href="{% static 'images/CV-Adam-Boczek.pdf' %}" target="_blank" class="footer-button" aria-label="my cv" download><i class="fa-solid fa-download" title="My CV download"></i></a>
        <a href="mailto:adam.boczekwork@gmail.com" target="_blank" class="footer-button" aria-label="send me an email"><i class="fa-solid fa-envelope"></i></a>
    </div>
    <!-- Small tablets and mobile -->
    <div id="footer-logo-mobile">
        <a href="https://github.com/aboczek" target="_blank" class="footer-mobile" aria-label="github link"><i class="fa-brands fa-github" title="My GitHub profile" ></i></a>
        <a href="https://www.linkedin.com/in/aboczek/" target="_blank" class="footer-mobile" aria-label="linkedin link"><i class="fa-brands fa-linkedin" title="My LinkedIn profile"></i></a>
        <a href="{% static 'images/CV-Adam-Boczek.pdf' %}" target="_blank" class="footer-mobile"  aria-label="my cv" download><i class="fa-solid fa-download" title="My CV download"></i></a>
        <a href="mailto:adam.boczekwork@gmail.com" target="_blank" class="footer-mobile"  aria-label="send me an email"><i class="fa-solid fa-envelope" title="Email me here!"></i></a>
    </div>
</footer>
