{% load static %}
<div>
    <label class="hamburger-menu">
        <input type="checkbox">
    </label>
    <aside class="sidebar">
        <nav id="links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about_me' %}">About me</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% static 'images/CV-Adam-Boczek.pdf' %}" target="_blank" download>CV<i class="fa-solid fa-download" title="My CV download" download></i></a>
        </nav>
        {% if debug_flag %}
        <nav id="link-login">
            <a href="{% url 'account_login' %}">Login</a>
        </nav>
        {% endif %}
    </aside>
</div>